 <% @courses.each do |course| %>
    <div class="block">

      <div class="columns">
        <div class="column is-four-fifths">
          <h5 class="title is-5"><a href="<%= "/courses/#{course.id}" %> "><%= course.title %></a></h5>
          <p class="columns">Number: <%= course.id %></p>
            <p class="columns">Description: <%= course.price %></p>
          <p class="columns">Volume: <%= course.volume %></p>
         </div>
         </div>
         </div>
         
          <% end %>