<!DOCTYPE html>
<html>
  <head>
    <title>Govuk</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%# <%= javascript_importmap_tags %> 
    <%= javascript_tag %>
  </head>

  <body>
    <%# <%= render(TableComponent.new(title: "my title")) do %> 
  <%# Hello, World! %>
<%# <% end %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
